<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstname">Frist Name</label>
            <input type="text" id="firstname" required [(ngModel)]="this.employee.firtname" name="firstname" class="form-control">
        </div>

        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" required [(ngModel)]="this.employee.lastname" name="lastname" class="form-control">
        </div>

        <div class="form-group">
            <label for="emailId">Email</label>
            <input type="text" id="emailId" required [(ngModel)]="this.employee.email" name="emailId" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>


<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>